body {
    font-family: sans;
    background: #E6EBF0;
    color: #887e79;
}

span {
    background:#fff;
    padding:0 10px;s
    color: #887e79;
}

.container {
    height: 100%;
}
.topNav {
    margin-left: 2%;
    width: 66.5%;
    height: auto;
    float: right;
    border-right: 1%;
    /*! border-right-style: solid; */
    /*! border-right-color: #335E6F; */
    margin: 10px;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
}
.rightSide {
    margin-left: 15%;
    height: 100%;
    overflow-y: scroll;
    /*! background: #FFFFFF; */
    /*! margin: 10px; */
    border-radius: 2px;
    /*! float: right; */
    width: 70%;
}

.leftSide{
    empty-cells: show;
    height: 100%;
    width: 30%;
    background-color: white;
    float: left;
    text-align: center;
}

.about_h1{
    color:#514e4e;
    border-bottom: 10px;
}

.footer {
    height: 5%;
}

.catagory {
	cursor: pointer;
    font-size: 1em;
	display: inline;
}

.expName{
}

.expPeriod{
}


.exp{
    height: auto;
    background-color: white;
    border-radius: 2px;
    margin-right: 20px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 10px;
    margin: 10px;
}

.aboutText{
    height: 100px;
    background-color: white;
    border-radius: 2px;
    margin-right: 20px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 20px;
    margin: 10px;
}

.project{
    height: 100px;
    background-color: white;
    border-radius: 2px;
    margin-right: 20px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 20px;
    margin: 10px;
}
